<template>
    <div class="row">
        <div class="col-sm-4" v-for="product in products" v-bind:key="product.id">
            <product :product="product"></product>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import Product from './Product'

    export default {
        name: 'products',
        components: {
            Product
        },
        methods: {
            ...mapActions({
                getProducts: 'shopping/getProducts'
            })
        },
        mounted() {
            this.getProducts()
        },
        computed: {
            ...mapGetters({
                products: 'shopping/products'
            })
        }
    }
</script>

<style>
    .thumbnail img {
        width: 100%;
    }
</style>
