<template>
	<div class="message" v-if="message">
		{{ message }}
	</div>
</template>
<script>
	import { mapGetters } from 'vuex'
	export default {
		computed: {
			...mapGetters({
				message: 'message'
			})
		}
	}
</script>

<style>
	.message {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2em;
		position: fixed;
		top: 0; left: 0;
		background-color: tomato;
		color: white;
		height: 60px;
		width: 100%;
	}
</style>